
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/src/preload.php
/var/
/vendor/
/docker/database/data
/docker/nginx/logs

###< symfony/framework-bundle ###
